<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Produtos</h1>
        <form th:action="@{/cadastro}" method="post" th:object="${produto}">
        </form>
        <a th:href="@{/}">Voltar para a lista de produtos</a>
        
    </div>
</body>
</html>