<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Produtos</title>
</head>
<body>
    <div class="container">
        <h1>Listagem de Produtos</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id do Produto</td>
                    <td>Nome do Produto</td>
                    <td>Preço do Produto</td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>